{% from "macros.html" import nav_link with context %}

<!DOCTYPE html>
<meta name="robots" content="noindex,nofollow" />
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }
      h2 {color: red;}
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {{ nav_link('home', 'Home') }}
            {{ nav_link('contact', 'Contact Us') }}
            {{ nav_link('search', 'Web Search') }}
            {{ nav_link('elasticsearch', 'Elasticsearch') }}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/jdgranberry">jdgranberry</a></li>
          </ul>
        </div><!-- /.bs-example-navbar-collapse-1 -->
    </nav>
    <div class="container">
      <br>
      {% block content %}{% endblock %}
      <br>
    </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>