{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
  <li class="active"><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% else %}
  <li><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{#{%  macro email() %}#}
{#<li><a href="mailto:jdgranberry@txstate.edu?subject=Great job on Assignment 3 Josh!&body=Hey Josh,#}
{#    just wanted to let you know you'll be getting an A on Assignment 3 for Data Mining. Well done.">#}
{#    Contact</a> </li>#}
{#{%  endmacro %}#}

# Input: A dict representing a web search result from Google
{% macro web_result(result) %}
<li><a href={{ result['link'] }}> {{ result['title'] }} </a></li>
    <ul>
        <li>{{ result['link'] }}</li>
        <li>{{ result['snippet'] }}</li>
    </ul>
{% endmacro %}
